@media screen and (min-width: 48em) {
  .headroom--not-top .navbar {
      background: #4e608d;
  }
  }
  

* {
  box-sizing: border-box;
} 

body {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:50px auto;
}

.button {
  position: absolute;
  top:50%
}

.color {
  background-color: #2916F5
  ;
}

